@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

h1, h2, h3, h4, p, .title-text{
    font-family: "Tagesschrift", "sans-serifs";
}


.max-text-width {
    max-width: 70ch;
}



.title-chart h2{
    font-size: var(--s1);
    margin-left: 8.5rem;
    margin-bottom: 0;
}

